<strong>Olá,{{provider}}</strong>
<p>Houve um cancelamento de horário,confira os delathes abaixo</p>
<strong>Cliente: {{user}} </strong> <br/>
<strong>Data/Hor: {{date}} </strong> <br/>
<small>O horario esta disponivel para novos agendamentos</small>